body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  line-height: 1.3em;
}

div.hide {
  visibility: hidden;
}

div#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: rgba(211, 211, 211, 0.5);
}
div#overlay div {
  width: 85%;
  margin: 100px auto;
  background-color: #fff;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: darkgreen;
  outline: none;
  border: 1px solid #004b00;
  color: lightgray;
}
button:hover {
  background-color: #003100;
}
button:last-child {
  background-color: maroon;
  border: 1px solid darkred;
}
button:last-child:hover {
  background-color: #4d0000;
}
button:first-child {
  margin-left: 10px;
  margin-top: 10px;
}
